.CarListItem>.TaskCount {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
    width: 83px;
    height: 24px;
    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
}

.CarListItem>.TaskCount>div {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 83px;
    height: 24px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.CarListItem>.TaskCount>div>div {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 83px;
    height: 24px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.CarListItem>.TaskCount>div>div>.TaskCountDetail {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;
    gap: 10px;
    width: 59px;
    height: 16px;
    border-radius: 10px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.CarListItem>.TaskCount>div>div>.TaskCountDetail>.TaskCountText {
    /* 2 Task(s) */
    width: 49px;
    height: 12px;
    font-family: 'GT America';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    /* identical to box height, or 12px */
    display: flex;
    align-items: center;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.CarListItem>.TaskCount>div>div>.TaskCountDetail>.TaskCountText.Danger {
    /* Alerts / Red Dark */
    color: #E04732;
}

.CarListItem>.TaskCount>div>div>.SelectIcon {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 24px;
    height: 24px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}