.CarListItem {
    /* Frame 1739326223 */
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px 10px 8px;
    /* gap: 63px; */
    width: 854px;
    height: 74px;
    /* Primary / 1 */
    border: 1px solid #E3E3E3;
    border-radius: 6px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.CarListItem.HighLight {
    border: 2px solid #456BD9;
}