.CarListItem>.Task {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 0px 52px 0px 0px; */
    gap: 4px;
    width: 245px;
    height: 40px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.CarListItem>.Task>.TaskProgress {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 190px;
    height: 18px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.CarListItem>.Task>.TaskProgress>.TaskName {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 8px 0px 0px;
    gap: 4px;
    width: 66px;
    height: 18px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.CarListItem>.Task>.TaskProgress>.TaskName>.TaskNameText {
    /* Production */
    width: 58px;
    height: 18px;
    /* Body/14 Medium */
    font-family: 'GT America';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */
    display: flex;
    align-items: center;
    /* Base-color/1 */
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.CarListItem>.Task>.TaskStatus {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1px;
    width: 176px;
    height: 18px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.CarListItem>.Task>.TaskStatus>.TaskStatusDetail {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
    width: 176px;
    height: 18px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.CarListItem>.Task>.TaskStatus>.TaskStatusDetail>.TaskStatusText {
    /* Name */
    /* width: 105px; */
    height: 16px;
    /* Body/12 Regular */
    font-family: 'GT America';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    /* identical to box height, or 16px */
    display: flex;
    align-items: center;
    /* Grey Scales / 8 */
    color: #1F1F1F;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.CarListItem>.Task>.TaskStatus>.TaskStatusDetail>.TaskStatusTag {
    /* tags */
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px 8px;
    gap: 3px;
    width: 67px;
    height: 18px;
    /* Grey Scales / 6 */
    border: 1px solid #717171;
    border-radius: 2px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.CarListItem>.Task>.TaskStatus>.TaskStatusDetail>.TaskStatusTag>.TaskStatusTagText {
    /* tag */
    width: 51px;
    height: 16px;
    /* Body/12 Medium */
    font-family: 'GT America';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    /* identical to box height, or 16px */
    /* Grey Scales / 7 */
    color: #3E3E3E;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}